body, tr, td, p, li {
	font-family: Times New Roman, Georgia, Times, serif;
	font-size: 9pt;
	color: #000000;
	vertical-align: top;
}

html, body {
	background-attachment: fixed;
	background-position: center;
	background-color: white;
	background-repeat: no-repeat;
	margin: 0;
}

/* font classes */

.paperdefault {
	font-size: 8pt;
	color: #000000 !important;
    text-align: center;
}

.papertimesmedium {
	font-size: 10pt;
	color: #000000;
}

.papertimesbig {
	font-size: 13pt;
	color: #000000;
    text-align: center;
}
.papertimeshuge {
	font-size: 20pt;
	color: #000000;
    text-align: center;
}

.paperheadline {
	font-size: 35pt;
	color: #000000;
    text-transform: uppercase;
}

.paperhidden {
	font-size: 8pt;
	color: #000000;
}

.paperwhite {
	background-color: #333333;
	font-size: 8pt;
	color: #FFFFFF;
}

.clear {
    clear:both;
}



#top {
	position: absolute;
    top: 0px;
}
/* Background Image */
#container {
	height: 950px;
	width: 905px;
	background-image: url("/assets/img/paper_tile.jpg");
	margin-left: auto;
	margin-right: auto;
}

#infoBar {
    position: absolute;
    top:5px;
    width: 895px;
    left: 5px;
    border: 1px black solid;
}

#mainHeadline {
    position: absolute;
    top:27px;
    width: 905px;
    text-align: center;
    
}
/* Gazette Image */
#imagegazette {
    position:relative;
    left: 300px;
    top:50px;
    width:598px;
   
}

/* L Side headline - "from desk of allied commander */
#topLeft {
    float:left;
    width: 300px;
	text-align: center;
	padding: 5px;
    border: 1px solid black;
}

/*Left outer Article*/

#topLeftOuterStory {
    position:relative;
    width: 300px;
    height:155px;
    text-align: center;
    padding: 5px;
    border: 1px solid black;
}

#topLeftInnerStory {
    position:relative;
    left:311px;
    top:-192px;
    height:180px;
    width: 150px;
    text-align:center;
    padding:5px;
    border: 1px solid black;
}

/* production stories and units in field */
#rdpNote {
    position:relative;
    top:-385px;
    left:472px;
    width:420px;
    height:360px;
    text-align: center;
    border: 1px solid black;
}

/* 2nd Row */

#secondLeftOuterStory {
    position:relative;
    top: -555px;
	width: 150px;
    height:160px;
	text-align: center;
    padding: 5px;
    border: 1px solid black;
}

#secondLeftInnerStory {
    position:relative;
    top: -727px;
    left:160px;
	width: 300px;
    height:160px;
	text-align: center;
    padding: 5px;
    border: 1px solid black;
}

#thirdLeftOuterStory {
    position:relative;
    top: -730px;
	width: 440px;
    height:275px;
	text-align: center;
    padding: 5px;
    border: 1px solid black;
}

#thirdRightOuterStory {
    position:relative;
    top: -1018px;
    left:450px;
	width: 440px;
    height:275px;
	text-align: center;
    padding: 5px;
    border: 1px solid black;
}







#bottomLeftOuterStory {
    position:relative;
    top:-1020px;
	width: 890px;
    height:170px;
	text-align: center;
    
	padding: 5px;
    border: 1px solid black;
    
}

#bottomMidLeftStory {
    position:relative;
    top:-250px;
    left:515px;
	width: 150px;
    height:300px;
	text-align: center;
    
	padding: 5px;
    border-right: 1px solid black;
    border-top: 1px solid black;
}

#bottomRightOuterStory {
    position:relative;
    top:-872px;
	width:210px;
    height:300px;
	text-align: center;
    left: 675px;
	padding: 5px;
    border-right: 1px solid black;
    border-top: 1px solid black;
}
























/*static headline and gazette image*/









/* Page has 4 columns 
    Left
    Midleft
    Midright
    Right*/












/*

#middleTopLeftpic {
    position: relative;
    top: 175px;
    width: 172px;
    text-align: center;
    padding: 5px;
}

*/












/*
#ao {
    position: relative;
	width: 172px;
    top: 175px;
    left: 729px;
	text-align: center;
}

#middleTopRightStory {
    position: relative;
    top: 15px;
	width: 172px;
	text-align: center;
    left: 710px;
}

#underNews {
    position: relative;
	top: 555px;
	width: 905px; 
}

#news {
    position: absolute;
	width: 535px;
    top: 0px;
	left: 185px;
    border-right: 1px black solid;
    border-left: 1px black solid;
}

#middleBottomLeftStory {
    position: relative;
	left: 5px;
    top: 175px;
	width: 172px;
	text-align: center;
	padding: 5px;
}

#middleBottomRightPic {
    position: relative;
    width: 170px;
    text-align: center;
    padding: 5px;
    right: 5px;
}

#belowNews {
    position: absolute;
	width: 535px;
    top: 205px;
	left: 185px;
    border-right: 1px black solid;
    border-left: 1px black solid;
}

#bottomRightStory {
    position: relative;
    width: 172px;
    text-align: center;
    padding: 5px;
    right: 5px;
}

#headerMiddle {
	height: 90px;
	width: 905px; 
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#mainBody {
	position: relative;
	top: 90px;
	height: 80%;
	color: black;
}

#override {
    color: black !important;
}

#poster{
	 height: 210px;
	 display: block;
	 margin-left: auto;
	 margin-right: auto;
     width:172px;
}


.mainheadline {
  
}

.mainheadline h1 {
    text-transform: uppercase;  
    font-size:45px;
    margin: 3px auto;
    
}

.mainheadline .side,.enemy_side,.side_adj {
    text-transform: uppercase; 
}
.story-detail {
    
}
.story-detail h3 {
    margin:3px 0;
}
.story-detail div {

}
.story-detail div p {
    margin-bottom: 5px;
}

/** data styles **/
.player, .side, .enemy_side, .side_adj {
    text-transform: capitalize;
}

.player {     
    font-weight: bold;
}

/* #storyA {
	width: 178px;
	text-align: center;
    vertical-align: top;
	border-right: 1px black solid;
    border-left: 1px black solid;
	padding: 5px;
} */

/* #storyB {
	width: 178px;
	text-align: center;
    vertical-align: top;
    padding: 5px;
} */