body, tr, td, p, li {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #000000;
	vertical-align: top;
}

body {
	background: url("/assets/img/paper_tile_new.jpg");
	margin: 0;
}

.story {
    //border:1px solid ;
    border-color: black;
}

.paperdefault {
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 8pt;
	color: #000000 !important;
}


.papertimessmall {
	font-family: Times New Roman, Times, serif;
	font-size: 8pt;
	color: #000000;
}

.papertimesmedium {
	font-family: Times New Roman, Times, serif;
	font-size: 10pt;
	color: #000000;
}

.papertimesbig {
	font-family: Times New Roman, Times, serif;
	font-size: 13pt;
	color: #000000;
}

.papertimeshuge {
	font-family: Times New Roman, Times, serif;
	font-size: 16pt;
	color: #000000;
}

.paperarialsmall {
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 7pt;
	color: #000000;
}

.paperarialmedium {
	font-family: Times New Roman, Times, serif;
	font-size: 10pt;
	color: #000000;
}

.paperarialbig {
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 13pt;
	color: #000000;
}

.paperarialhuge {
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 16pt;
	color: #000000;
}

.paperheadline {
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 35pt;
	color: #000000;
}

.paperhidden {
	font-family: Courier New, Courier, mono;
	font-size: 8pt;
	color: #000000;
}

.paperservernews {
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 12pt;
	color: #CCCC00;
}

.paperserverheader {
	font-family: Georgia, Times New Roman, Times, serif;
	font-size: 8pt;
	color: #CCCCCC;
}

.paperbarlink {
	font-family: Times New Roman, Times, serif;
	font-size: 8pt;
	color: #000000 !important;
}

.paperwhite {
	background-color: #333333;
	font-family: Times New Roman;
	font-size: 8pt;
	color: #FFFFFF;
}

.contentpagetitle {
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}




#top {
	position: absolute;
	height: 100%;
	width: 940px;
}

#headerMiddle {
	height: 90px;
	width: 940px; 
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#alliedDeaths {
	position: absolute;
	width: 150px;
	top: 3px;
	left: 5px;
	border: 1px solid black;
	font-family: Georgia, Times New Roman, Times, serif; 
	font-size: 8pt;
}

#axisDeaths {
    position: absolute;
    width: 150px;
    top: 3px;
    right: 5px;
    border: 1px solid black;
    font-family: Georgia, Times New Roman, Times, serif;
    font-size: 8pt;
}

#mainBody {
	position: absolute;
	background-image: url("paper_tile_new.jpg") !important;
	top: 90px;
	height: 100%;
	width: 940px;
	color:black;
}

#override {
    color: black !important;
}

#topLeftStory {
	height: 175px;
	width: 188px;
	text-align: center;
	border-right: 1px black solid;
	padding: 5px;
}

#mapText {
	display:block; 
	width: 564px; 
	height: 15px;
	text-align: center; 
	padding-top: 3px;
	margin-top: -3px;
}

#topRightStory {
	width: 188px;
	text-align: center;
	border-left: 1px black solid;
}

#middleTopLeft {
}

#poster{
	 height: 210px;
	 display: block;
	 margin-left: auto;
	 margin-right: auto;
}

#middleTopRightStory {
	width: 188px;
	text-align: center;
}

#middleBottomLeftStory {
	height: 175px;
	width: 188px;
	text-align: center;
	border-right: 1px black solid;
	padding: 5px;
}