body, tr, td, p, li {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #FFFFFF;
}

tr.headline {
	background: #ffffff;
}

td.signup {
	color: #000000;
}

.action {
	background: #000000;
	border: 2px #996600 solid;
}

.actionalt {
	background: #333333;
}

.actionbox {
	background: #555500;
	border-color: #FFCC00;
}

.actionhdr {
	background: #996600;
}

.error {
	color: #FF0000;
}

.small {
	font-size: 8pt;
}

.normal {
	font-size: 9pt;
}

.hilight {
	color: #ffff00;
	font-size: 8pt;
}

.breadcrumb {
	color: #996600;
	font-size: 8pt;
}

p.signup {
	color: #000000;
}

a {
	font-size: 8pt;
	text-decoration: none;
	color: #ffcc00;
}

a:hover {
	text-decoration: underline;
} 

.management {
	width: 203px;
}

.management_title {
	color: #ffff00;
}

.bulletNav {
	padding-top: 5px
}

.bulletNavBreak {
	padding-top: 15px
}

.stats {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	color: #FFFFFF;
}
